.password-input {
  position: relative;
}

.show-hide-btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;

  &:hover, &:focus-visible {
    color: #f18585;
    outline: none;
  }
}
