.catalog {
  padding-left: 2em;
  padding-right: 1em;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2em;
    justify-content: start;
    align-items: stretch;

  .catalog-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s;
    max-width: 50ch;

    &:hover {
      transform: translateY(-4px) scale(1.02);
      border-color: #e4bef8;
    }

    .catalog-card-image {
      width: 100%;
      height: 10em;
      background: #31343c;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .catalog-card-meta {
      padding: 1.5em;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.7em;

      h2 {
        font-size: 1.3rem;
        margin: 0;
        color: #e4bef8;
        font-family: "Montserrat", sans-serif;
      }
      p {
        font-size: 1rem;
        color: #c174f2;
        margin: 0;
        flex: 1;
      }
      .catalog-card-info {
        display: flex;
        gap: 2em;
        font-size: 0.95em;
        margin-top: 1em;
        .worth {
          color: #f18585;
        }
        .nugget {
          color: #c174f2;
        }
      }
    }
  }

  .empty {
    text-align: center;
    color: #f18585;
    font-size: 1.2em;
    margin-top: 2em;
  }
}

/* Responsive */
@media (max-width: 600px) {
  .catalog {
    padding: 1em;
    .catalog-list {
      grid-template-columns: 1fr;
      gap: 1em;
    }
    .catalog-card-meta {
      padding: 1em;
    }
  }
}

.catalog-filter {
  display: flex;
  gap: 1em;
  margin-bottom: 4em;

  input {
    color: white;
    border: 2px solid transparent;
    padding: 0.5rem;
    background-color: #221f33;

    &:hover, &:focus-visible {
      border: 2px solid #f18585;
      outline: none;
    }
  }
}
