.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1em;
  box-sizing: border-box;
  gap: 2em;

  inline-size: min(100% - 2em, 1620px);
  margin-inline: auto;

  &-title {
    color: #f18585;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    padding: 1rem 2rem;
  }

  &-right {
    display: flex;
    gap: 1ch;

    a {
      padding: 1rem;
      font-weight: 450;
      font-size: 1.2rem;
      color: #cb90f1;
    }
  }
}
