.auth {
  width: 28rem;
  margin: 0 auto;
  min-height: 100vh;
  color: #000;
  box-sizing: border-box;
  padding: 1em;

  &-header {
    display: flex;
    gap: 1.2em;
    align-items: center;

    a {
      display: flex;
      font-size: 1.5rem;
    }
  }

  form, input {
     box-sizing: border-box;
  }

  form {
    display: grid;
    padding: max(2em, 24px);
    margin-bottom: 20px;
    grid-gap: 1.25em;

    & + a {
      font-size: 1rem;
    }
  }

  label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4px;
    color: #c174f2;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 2em;
  }

  input {
    width: 100%;
    border: 2px solid transparent;
    padding: .5rem;
    background-color: #221f33;

    &[type=text],
    &[type=password],
    &[type=email] {
      color: white;

      &:focus, &:focus-visible {
        border: 2px solid #f18585;
        outline: none;
      }

      &:-moz-autofill {
        -moz-text-fill-color: #fff;
        transition: background-color 5000s ease-in-out 0s;
      }

      &:-webkit-autofill {
        -webkit-text-fill-color: #fff;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }

  p.error {
    margin: 0;
    color: #f18585;
    font-size: 1rem;
    text-align: center;
  }

  .actions {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    grid-gap: 2em;
  }

  p.error + .actions {
    margin-top: 0;
  }
}

.btn-red {
  background-color: #f18585;
}

.multi-actions {
  display: flex;
  gap: 1em;

  & > * {
    width: 100%;
  }
}
