:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

body {
  font-size: clamp(10px, 1vw, 18px);
  color: white;
  background-color: #000;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  position: relative;
  text-decoration: none;
  color: #c174f2;
  transition: color 0s;

  &:hover {
    color: #f18585;
  }

  &.dash-in {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0%;
      bottom: 0.25em;
      background-color: #f18585;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
