.hero {
  border-bottom: 1px solid white;

  &-description {
    display: flex;
    justify-content: center;
  }

 img {
  z-index: 1;
  margin-top: -2em;
  border: 4px solid transparent;
  border-image: linear-gradient(
    180deg,
    rgba(246, 174, 174, 1) 0%,
    rgba(241, 133, 133, 1) 25%,
    rgba(245, 112, 212, 1) 56%,
    rgba(193, 116, 242, 1) 82%
  ) 1;
 }

 p {
   width: 80ch;
   padding: 2em;
   line-height: 1.8em;
   margin: 0;
 }
}

.projects {
  h2 {
    margin-bottom: 1rem;
  }

  .project-list {
    --minthumb: 350px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--minthumb), 1fr));
  }

  .project-card {
    color: black;
    background: #C174F2;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .project-logo {
      aspect-ratio: 5/3;
      max-width: 100%;
      object-fit: cover;
      margin-bottom: 0.5rem;
      width: 100%;
    }

    h3 {
      margin: 0.5rem 0;
    }

    .project-meta {
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }
  }
}
