.hero {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;

  &-description {
    width: 80ch;
    padding: 1em;
    line-height: 1.8em;
    margin: 0;

    strong {
      color: #E4BEF8;
    }
  }

  img {
    z-index: 1;
    margin-top: -2em;
    border: 4px solid transparent;
    border-image: linear-gradient(
      180deg,
      rgba(246, 174, 174, 1) 0%,
      rgba(241, 133, 133, 1) 25%,
      rgba(245, 112, 212, 1) 56%,
      rgba(193, 116, 242, 1) 82%
    ) 1;
  }
}

.arrow-link {
  background-color: transparent;
  text-transform: uppercase;
  transition: all .3s ease;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  gap: 1ch;
}

.project-list {
  --minthumb: 320px;
  display: flex;
  overflow-x: scroll;
  gap: 1.5rem;

  padding-block: 2em;
}

.project-card {
  display: flex;
  flex-direction: column;

  background: black;
  color: white;
  border: 1px solid transparent;
  border-image: linear-gradient(
    180deg,
    rgba(246, 174, 174, 1) 0%,
    rgba(241, 133, 133, 1) 25%,
    rgba(245, 112, 212, 1) 56%,
    rgba(193, 116, 242, 1) 82%
  ) 1;

  &-meta {
    padding: 2em;

    h3 {
      margin: 0.5rem 0;
      font-weight: 750;
      font-size: 1.2rem;
      font-style: italic;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    p {
      text-overflow: ellipsis;
      overflow: hidden;

      font-size: 1.5rem;
      margin: 0;
    }
  }

  &-image {
    position: relative;
    display: flex;

    img {
      aspect-ratio: 5/4;
      max-width: 100%;
      object-fit: cover;
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom, rgba(0,0,0,1), transparent);
      pointer-events: none;
    }

  }
}
